#loader{ /*I challenged myself to add a loader.gif,
  for a situation where the webpage could not be loaded either quick enough or not at all.  */
  position: fixed;
  width: 100%; /*To adjust the width of the gif.  */
  height: 100vh;  /*To adjust the height of the gif. */
  z-index: 1;
  overflow: visible;  /*To set the visability of the gif. */
  background: #000 url('loader.gif') no-repeat center center;
}

body{
  font-family: 'Poppins-BlackItalic', sans-serif; /*This CSS rule is used to import the 'Poppins' font file into my webpage,
  whilst including my additional 'BlackItalic' stlye. */
  font-style: italic;  /*To help support the choice of font-family  */
  font-size: bold;  /*This tells the borwser where on tha pge I wish ofr it to  */
  positon: absolute;  /* This attribute tells the browser to keep its positon. */
  text-align: center;  /*The positon in which the body.text sits on the page. */
  color: black; /* The color of the text throughout my body HTML. */
  background-image: linear-gradient(170deg,#8000ff,#ff00bf); /* This describes the direction I wish the color-gradient to travel on the page. */
}

h1{
  font-size: 27px;  /*The font size of teh cast page heading. */
}

header{
  background-image: url(../img/johnwickstreet.jpg); /*By adding a background image to my webpage via a header element, it is created through the CSS property.
  The property value uses a url link that tells the browser where the image is from. I have searched the web for a relatable image and placed it within a folder
  called 'img' (Image) and has been labelled 'johnwicktitle.jpg'. Image available for viewing rights @https://www.hdwallpapers.in/keanu_reeves_in_john_wick_chapter_3_parabellum_4k_8k-wallpapers.html */
  background-size: 1910px; /*By not using this property the image selected would not adjust correctly to the element it sits within.
  Therefore by using this element it specifies how big I want the picture to be. */
  background-position: top; /*This element places the image towards the location stated. By placing it at the top gives the webpage some visual decliration. */
  background-repeat: no-repeat; /*This property lets the browser know no to repeat the image anywhere else on the page. */
  background-attachment: fixed; /*This rule is used to fix the background image to the webpage, this allows the image to stay in it's given postion whilst the user scrolls up or down the webpage. */
  text-align: center; /*This element is used to align the image to the center of the page */
  padding: 20px; /*By using the padding rule, it allows me to adjust the spacing between the content and the page of the element, I have done this to seperate the webpage. */
  margin: 20px; /*This is used so that the header could travel to the top of the webpage and not have any unwanted gaps inbetween the elements. */
}

section,
footer{
  margin: 25px;  /*This is used so that the elements do not reach either side of the page.
  By setting the margin to 25px it spaces the element between others around it.  */
  padding: 20px;  /*This is used to increase padding between the content and the eged of the page. */
  text-align: center;  /*This tell the broswer where to set the text on the page. */
}

.sectioncast{
  background-color: rgba(255, 255, 255, 0.05);  /*I aimed to have this section to have a slight colour backdrop,
  by adding the 'rgba' color element it increases the opacity. */
  border-radius: 15px;  /*This new HTML property is used to smooth off the corners of the image. */
}

footer{  /* */
  font-size: 18px;  /*This is used to change the size of the font. */
  text-align: center;  /*This tell the broswer where to set the text on the page. */
  padding-bottom: 20px; /*By using the padding rule, it allows me to adjust the spacing between the content and the page of the element from the bottom of the page,
  I have done this to seperate the webpage. */
}

.floatfix::after { /*By using the float element, it means the size of the content within is no
  longer being used to calculate any size of its parent, so by adding additional content after the single floated element,
  it will try its best to position itself on the page wherever it see fit.
  We can possibily fix this issue by calculating the height of the floated element in question.    */
  content: "";
  display: block;
  clear: both; /* The clear element is used tot clear out the space in the section it could wish to move into. */
}

.title{
  text-align: center; /* The position of where the title is going to sit on the page. */
  font-size: 45px; /* The size of the title text for the cast page, 'John Wick'. */
  padding-bottom: 20px; /* The padding space the image sits from the bottom of the page. */
}

.cast{
  text-align: center; /* The position of where the actor heading is going to sit on the page. */
  font-size: 25px; /* The size of the actor heading text. */
  padding-bottom: 80px; /* The padding space the image sits from the bottom of the page. */
}

.subtitle{
  font-size: 20px; /* The font size of the subtitle placed on the 'cast' page. */
  position: 50px; /* The postion of the subtitle and where it sits on the page. */
}

p.synopsis,
p.paragraphcast{
  text-indent: 13ch; /* The position in which the paragrpah text starts at. */
  font-size: 22px; /* This is ued to change the size of the font text within each of the two sections. */
}

a{
  color: black; /*Considering the <anchor> element alreday has a color assigned to it,
  when the user clicks onto it the color changes, signalling that the click has been succesfull. */
  text-align: center;
  text-decoration: bold;
  font-family: 'Righteous';
  font-size: 15px;
}

.menu{
  padding-left: 50px; /* This padding is for the 'CAST' menu button
  and where it is located on the page, how far it is from the right. */
  padding-right: 50px; /* This padding is for the 'ABOUT' menu button
  and where it is located on the page, how far it is from the right.*/
}

.ref{
  color: #26004d; /* The colour of the .Wikipedia text link. */
}

img{
  position: 10px; /* The postion of the image and where it sits on the page. */
  border-radius: 80px; /* The border depth effect of the image. /*
  float: center; /* The positon in where the image sits from the float. */
  width: 500px; /* The width size of the image. */
  margin-right: 0px; /*The positon in where the image sits from the right. */
  margin-bottom: 100px; /* The margain space the image sits from the bottom of the page. */
}

video{
  margin: 0 auto; /*This is used to see the CSS setting to center the video element. */
  display: block;
}



.title{
  text-align: center; /* The position of where the title is going to sit on the page. */
  font-size: 32px; /* The size of the title text for the cast page, 'John Wick'. */
  padding-bottom: 20px; /* The padding space the image sits from the bottom of the page. */
}



















p{
  background-color: clear;
  position: left;
}












span{
  color: #ffffff;
}
